.git-row {
      border: 1px solid #dee2e6;
      border-left: none;
      border-right: none;
      padding: 10px 0;
    }
    .git-row:nth-child(odd) {
      background-color: #f8f9fa;
    }
    .git-col {
      border-right: 1px solid #dee2e6;
      padding: 5px 15px;
    }
    .git-col:last-child {
      border-right: none;
    }